.button {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 104, 91, 1);
  background-color: transparent;
  border: solid 2px rgba(255, 104, 91, 1);
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
}

.button:is(:hover, :focus) {
  color: rgba(255, 255, 255, 1);
  background-color:  rgba(255, 104, 91, 1);;
}