.button {
  font-family: var(--main-font), sans-serif;
  color: var(--accent-color);
  background-color: transparent;
  border: solid 2px var(--accent-color);
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  color: var(--bg-color);
  background-color:  var(--accent-color);
}