.button {
  font-family: var(--main-font), sans-serif;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.button_enabled:is(:hover, :focus) {
  color: var(--bg-color);
  background-color:  var(--accent-color);
}

.button_enabled {
  color: var(--accent-color);
  background-color: transparent;
  border: solid 2px var(--accent-color);
}

.button_disabled {
  background-color: rgba(155,155,155,0.5);
  color: var(--bg-color);
  cursor: 'not-allowed';
  border: none;
}