.form {
  gap: 32px;
  align-items: center;
  width: 100%;
  max-width: 648px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  border: none;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__error_text {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  color: var(--accent-color);
  padding: 20px;

}

.form__submit_button {
  margin: auto;
}