.card {
  padding: 35px 40px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  gap: 20px;
  max-width: 328px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.card__title {
  color: var(--headlines-color);
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.card__image {
  max-width: 72px;
  max-height: 72px;
}

.card__separator {
  border: 2px solid var(--accent-color);
  max-width: 50px;
}

.card__text {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}