.headline {
  font-family: var(--main-font), sans-serif;
  font-size: clamp(1.75rem, 1.0898rem + 2.8169vw, 3.625rem);
  font-weight: 700;
  color: var(--headlines-color);
  line-height: 1.4;
  max-width: 727px;
  margin-bottom: 35px;
}

.buttons_container {
    display: flex;
    gap: 10px;
}

.card__container {
  margin-top: clamp(1.6875rem, 0.191rem + 6.385vw, 5.9375rem);
  display: flex;
  gap: 30px;
}

@media (width <= 375px) {
  .headline {
    max-width: 355px;
    margin-bottom: 45px;
  }

  .card__container {
    flex-direction: column;
    margin-left: 14px;

  }
}
