.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  margin: auto;
  background-color: var(--bg-color);
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.title {
    color: var(--headlines-color);
    font-family: var(--main-font), sans-serif;
    font-weight: 700;
    font-size: clamp(1.75rem, 1.0898rem + 2.8169vw, 3.625rem);
    line-height: 1.4;
    padding-bottom: 20px;
  }

.modal__close_button{
  margin-left: auto;
  background-color: transparent;
  border: none;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}

.modal__close_button_image {
  max-width: 20px;
  max-height: 20px;
}