.header {
  padding: 18px clamp(0.625rem, -0.6954rem + 5.6338vw, 4.375rem);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgba(0,0,0,1);
}

.header__link_container {
  display: flex;
}

.header__link {
  font-family: 'Open Sans', sans-serif;
  padding: 8px clamp(1.25rem, 0.4137rem + 3.5681vw, 3.625rem);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: rgb(2, 0, 0);
  border-radius: 10px;
  letter-spacing: 0.2px;
}

.header__link:is(:hover, :focus) {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: rgba(255, 104, 91, 1);
  border: solid 2px rgba(255,104,91,1);
  font-weight: 500;
}
