.header {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
}

.header__link_container {
  display: flex;
  gap: 49px;

}

.header__link {
  font-family: 'Open Sans', sans-serif;
  padding: 8px 60px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: rgba(115, 115, 115, 1);
}

.header__link:is(:hover, :focus) {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: rgba(255, 104, 91, 1);
  border: solid 2px rgba(255,104,91,1);
}